<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Registration form </title>
  

</head>

<body>
  <div class="contaier" >
    <form id="console" [formGroup]="registrationForm" (ngSubmit)="submit()">
      <h2>Registration Form</h2>

      <label>UserName </label>
      <input type="text" placeholder="Ankit...." id="fn" name="username" formControlName="username"> <br>   
        <span style="color: red;" *ngIf="username && username.invalid && username.touched ">Enter valid username</span><br>
      

      <label>Email </label>
      <input type="text" placeholder="Abc@gmail.com" name="email" id="em" formControlName="email">      <br>
      <span style="color: red;" *ngIf="email && email.invalid && email.touched">Enter valid email</span><br>
      

      <label>Mobile No :</label>
      +91<input type="number" placeholder="eg. phone number" id="mn" name="mobile" formControlName="mobile">   <br> 
      <span style="color: red;" *ngIf="mobile && mobile.invalid && mobile.touched">Enter valid mobile number</span><br>
      

      <label>Password </label>
      <input type="password" id="pwd" placeholder="eg. Abc@1" name="password" formControlName="password">     <br>
       <span style="color: red;" *ngIf="password && password.invalid && password.touched">Enter valid password</span><br>
      

      <button type="submit"  id="button" [disabled]="registrationForm.invalid" >Register</button>  

      <p>
        Already a member ?
        <a routerLink="/login"> Go and login </a>
</p>

    </form>

  </div>





</body>

</html>