

<html>

    <head>
        <title>LOGIN PAGE</title>
    </head>
   
    
    <body>
        <div class="container"id="console">
            <form id="form" [formGroup]="forgetpage" (ngSubmit)="forget()"  >
               
                <h2>Reset your Password</h2>
    
                
    
                <label> Enter Email : </label>
                <input type="text" name="email"  placeholder="Enter email address" class="login" formControlName="email" ><br>
                <span style="color: red;" *ngIf="email && email.invalid && email.touched ">Enter valid email</span><br>

                <label>New Password </label>
                <input type="password" id="pwd" placeholder="eg. Abc@1" name="password" formControlName="password">     <br>
                 <span style="color: red;" *ngIf="password && password.invalid && password.touched">Enter valid password</span><br>
    
                <button id="btn"  value="Submit">Reset</button>
                
                <p>
                        Not a member ?
                        <a routerLink="/registration"> Go to register page </a><br>
                        <a routerLink="/login">Go to Login page</a>
                </p>
                
            </form>
        </div>
       
    
    </body>
    
    </html>